<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>hi everyone lets say hi</h1>

<p>again</p>

<p class='flash'><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
